<div class="col-md-4 col-md-offset-4">
  <div>
    <a mat-button class="btn btn-link" routerLink="/login">Login</a>
    <a mat-button class="btn btn-link" routerLink="/signup">Register</a>
  </div>
  <form>
    <div>
      <mat-form-field class="d-block">
        <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="resetPassword()">Reset</button>
    </div>
  </form>
</div>