<div class="sidebar col-md-2">
  <app-sidebar></app-sidebar>
</div>
<!-- pasted sidebar here -->

<!-- <div class="row"> -->
<div class="col-md-10">
  <div class="left-block block col-md-7">

    <div class="topic col-md-5">
      <h3>Bangalore</h3>
      <app-trending location="bangalore"></app-trending>
    </div>

    <div class="topic  col-md-5">
      <h3>Mumbai</h3>
      <app-trending location="mumbai"></app-trending>
    </div>

    <div class="topic  col-md-5">
      <h3>Kolkata</h3>
      <app-trending location="kolkata"></app-trending>
    </div>

    <!-- <div class="topic">
      <app-trending location="delhi"></app-trending>
    </div> -->

  </div>

  <div class="feeds col-md-5">
    <h3>Narendra Modi Feeds</h3>
    <app-feeds></app-feeds>
  </div>
</div>